# Telegram bot api key
bot_token=123456789:AbCdfGhIJKlmNoQQRsTUVwxyZ

# Require password to use the bot (optional)
bot_password=12345

# Ban timeout
ban_timeout=60000

# Json web token issuer header
jwt_issuer=telenotify_bot